# Project exclude paths
/platform-services/discovery/target/
/platform-services/api-gateway/target/

/business-services/common/target/
/.idea/
/business-services/one/target/
/business-services/one/logs/
